.navbar-toggler {
    background-color: var(--main-bg-color);
}

.top-row {
    height: 3.5rem;
}

.navbar-brand {
    font-size: 1.1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    display: inline-block;
    background: url(/images/Logo.svg) center center no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 1rem;
}

.app-title-first-letter {
    color: var(--red-color);
}

.app-title {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.025em;
    color: var(--black-color);
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item ::deep a {
    color: var(--black-color);
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item ::deep a.active {
    background-color: var(--menu-item-hover-color);
}

.nav-item ::deep a:hover {
    background-color: var(--menu-item-hover-color);
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
