@page "/schedule"

<div class="schedule-header">
    <h3 class="schedule-title">Расписание</h3>

    <div class="week-scroll">
        <div class="left-arrow"></div>
        <div class="day"></div>
        <div class="right-arrow"></div>
    </div>

    <div class="selected-period">
        <div class="selected-period-dates"></div>
        <div class="selected-period-choice"></div>
    </div>

</div>


@code {

}
